[DEFAULT]
repositorio = /mnt/d/OBS/CHUVA/CPC_GAUGE/OPERACIONAL/
prefixo = CPC_GAUGE_AMS
escala_cores = 0.1 1 2 3 4 5 7 10 15 20 25 30 40 50 75

[AMS]
min_lat = -35
max_lat = 10
min_lon = 280
max_lon = 330

[BRASIL]
min_lat = -33
max_lat = 5
min_lon = 285
max_lon = 325

[SAARA]
min_lat = 10
max_lat = 30
min_lon = 340
max_lon = 360
